<div id="body">
    <div></div>
    <div id="Login">
        <form>
            <div>
                <fa-icon [icon]="faUser"></fa-icon>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <fa-icon [icon]="faLock"></fa-icon>
                <input type="password"name="password" placeholder="Password" >
            </div>
            <input type="submit" value="Log In">
            <p>Forgot Password?</p>
        </form>
        <div>
            <input type="submit" value="Create New Account">
        </div>
    </div>
    <app-register></app-register>
</div>