<div id="body">
    <div></div>
    <div id="Login">
        <div>
            <h1>Welcome back!</h1>
            <p>Sign in to your account</p>
        </div>
        <form>
            <div>
                <fa-icon [icon]="faUser"></fa-icon>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <fa-icon [icon]="faLock"></fa-icon>
                <input type="password"name="password" placeholder="Password" >
            </div>
            <p>Forgot Password?</p>
            <input type="submit" value="Sign in">
        </form>
        <div>
            <p>Don't have an account?</p>
            <a (click)="blur()" [routerLink]="['/register']"  type="submit">Sign up here</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>